# qcom.config for Qualcomm-specific kernel configuration
#
# $ make ARCH=arm64 defconfig qcom.config
#
# Keep alphabetically sorted
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_CORESIGHT_CORESIGHT_TNOC=m
CONFIG_CORESIGHT_CTCU=m
CONFIG_CORESIGHT_DUMMY=m
CONFIG_CORESIGHT_SOURCE_ETM4X=m
CONFIG_CORESIGHT_TGU=m
CONFIG_CORESIGHT_TPDM=m
CONFIG_CPU_IDLE_THERMAL=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_EDAC_QCOM=m
CONFIG_IDLE_INJECT=y
CONFIG_KPROBES=y
CONFIG_POWERCAP=y
CONFIG_QCA808X_PHY=m
CONFIG_SCHED_DEBUG=y
CONFIG_SCHEDSTATS=y
CONFIG_STM_PROTO_BASIC=m
CONFIG_STM_PROTO_SYS_T=m
CONFIG_STM_SOURCE_CONSOLE=m
CONFIG_STM_SOURCE_FTRACE=m
CONFIG_STM_SOURCE_HEARTBEAT=m
CONFIG_SENSORS_AMC6821=y
CONFIG_TRACE_MMIO_ACCESS=y
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_UCLAMP_TASK=y
# CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP is not set
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=m
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_ZRAM=y

# Add config to support Crypto and ICE
CONFIG_SCSI_UFS_QCOM=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_FS_ENCRYPTION=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT_FALLBACK=y
CONFIG_FS_ENCRYPTION_HW_WRAPPED_KEYS=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_QCOM_INLINE_CRYPTO_ENGINE=y
CONFIG_CRYPTO_DEV_QCOM_ICE=y
CONFIG_BLK_INLINE_ENCRYPTION_HW_WRAPPED_KEYS=y

