# qcom.config for Qualcomm-specific kernel configuration
#
# $ make ARCH=arm64 defconfig qcom.config
#
# Keep alphabetically sorted
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_CORESIGHT_CORESIGHT_TNOC=m
CONFIG_CORESIGHT_CTCU=m
CONFIG_CORESIGHT_DUMMY=m
CONFIG_CORESIGHT_SOURCE_ETM4X=m
CONFIG_CORESIGHT_TGU=m
CONFIG_CORESIGHT_TPDM=m
CONFIG_CPU_IDLE_THERMAL=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_IDLE_INJECT=y
CONFIG_KPROBES=y
CONFIG_POWERCAP=y
CONFIG_SCHED_DEBUG=y
CONFIG_SCHEDSTATS=y
CONFIG_TRACE_MMIO_ACCESS=y
CONFIG_UCLAMP_TASK_GROUP=y
CONFIG_UCLAMP_TASK=y
# CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP is not set
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_SEL=m
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_ZRAM=y
